*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
    #map {
        display: block;
        height: 100vh;
        width: 100%;
    }
#container{

    display: block;
    justify-content: center;

}

.normaldiv {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #e84f2f;;

}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
